extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote rem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum euismod ipsum, id rutrum elit egestas sed. Duis sit amet porttitor tellus. Quisque commodo sapien nec pellentesque pellentesque. Nunc sit amet molestie sem, eget placerat purus. 
                p  sollicitudin vehicula. Fusce et tincidunt sapien. In sagittis ligula ut leo tempor lobortis. Duis et neque ut metus posuere iaculis. Fusce sollicitudin nisi ac lorem suscipit mollis. Praesent ut purus eget mi viverra finibus vitae id est. Curabitur et ipsum quis leo pretium sollicitudin. Proin blandit velit ac neque viverra aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris rutrum velit ac sem iaculis consectetur.
                p Praesent ut purus eget mi viverra finibus vitae id est. Curabitur et ipsum quis leo pretium sollicitudin. Proin blandit velit ac neque viverra aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Praesent ut purus eget mi viverra finibus vitae id est. Curabitur et ipsum quis leo pretium sollicitudin. Proin blandit velit ac neque viverra aliquam.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Praesent ut purus eget mi viverra finibus vitae id est. Curabitur et ipsum quis leo pretium sollicitudin. Proin blandit velit ac neque viverra aliquam.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Praesent ut purus eget mi viverra finibus vitae id est. Curabitur et ipsum quis leo pretium sollicitudin. Proin blandit velit ac neque viverra aliquam.
